services:
  backend:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_DATASOURCE_URL=${SPRING_DATASOURCE_URL}
      - SPRING_DATASOURCE_USERNAME=${SPRING_DATASOURCE_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${SPRING_DATASOURCE_PASSWORD}
      - SPRING_REDIS_HOST={SPRING_DATA_REDIS_HOST}
      - SPRING_REDIS_PORT={SPRING_DATA_REDIS_PORT}
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - shared-network

  redis:
    image: redis:latest
    container_name: redis-moai
    ports:
      - "6379:6379"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      redis:
        condition: service_healthy
    networks:
      - shared-network

  redis:
    image: redis:latest
    container_name: redis-moai
    ports:
      - "6379:6379"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - shared-network

  mysql:
    image: 'mysql:8.0'
    env_file:
      - .env
    ports:
      - '5050:3306'
    volumes:
      - mysql_data:/var/lib/mysql
      - ./sql-scripts/01_init.sql:/docker-entrypoint-initdb.d/01_init.sql
      #- ./sql-scripts/02_dummy.sql:/docker-entrypoint-initdb.d/02_dummy.sql
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

    networks:
      - shared-network

volumes:
  mysql_data:

networks:
  shared-network:
    external: true
