services:
  backend:
    build: .
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/backend_db
      - SPRING_DATASOURCE_USERNAME=backend_user
      - SPRING_DATASOURCE_PASSWORD=backend_pass
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - shared-network

  mysql:
    image: 'mysql:8.0'
    environment:
      - 'MYSQL_DATABASE=backend_db'
      - 'MYSQL_USER=backend_user'
      - 'MYSQL_PASSWORD=backend_pass'
      - 'MYSQL_ROOT_PASSWORD=root_password'
    ports:
      - '5050:3306'
    volumes:
      - mysql_data:/var/lib/mysql
      - ./sql-scripts/01_init.sql:/docker-entrypoint-initdb.d/01_init.sql
      #- ./sql-scripts/02_dummy.sql:/docker-entrypoint-initdb.d/02_dummy.sql
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - shared-network

volumes:
  mysql_data:

networks:
  shared-network:
    external: true
