services:
  backend:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - shared-network

  mysql:
    image: 'mysql:8.0'
    env_file:
      - .env
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    ports:
      - '5050:3306'
    volumes:
      - mysql_data:/var/lib/mysql
      - ./sql-scripts/01_init.sql:/docker-entrypoint-initdb.d/01_init.sql
      #- ./sql-scripts/02_dummy.sql:/docker-entrypoint-initdb.d/02_dummy.sql
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - shared-network

volumes:
  mysql_data:

networks:
  shared-network:
    external: true

