.video-container {
    position: relative;
    background: #3b3b3b;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.local-mirror {
    transform: scaleX(-1);
}

.video-container .participant-data {
    position: absolute;
    top: 0;
    left: 0;
}

.participant-data p {
    background: #f8f8f8;
    margin: 0;
    padding: 0 5px;
    color: #777777;
    font-weight: bold;
    border-bottom-right-radius: 4px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .video-container {
        border-radius: 4px;
    }
}

@media screen and (max-width: 480px) {
    .video-container {
        border-radius: 2px;
    }
    
    .participant-data p {
        font-size: 12px;
        padding: 0 3px;
    }
}